1 VERSIONINFO
FILEVERSION     0,8,2,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Uzi Pte."
      VALUE "FileDescription", "This application does something nice"
      VALUE "InternalName", "smlfix"
      VALUE "LegalCopyright", "Phuong Vu, vuluuphuong@gmail.com"
      // VALUE "OriginalFilename", "smlfix.exe"
      VALUE "ProductName", "SMLFIX"
      VALUE "ProductVersion", "0.8.2.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
